body {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: blue
}

/* h1 {
    text-align: center;
} */

p { /* Higher priority font */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

strong {
    color: rgb(255, 128, 0);
}

#preview {
    width: 400px;
    height: auto;
    display: block;
    margin: auto;
}

.container {
    padding: 16px;
    margin: 80px auto;
    outline: solid black 2px;
    width: 500px;
    box-sizing: border-box;
    background-color: wheat;
}
.container h1 {
    margin: -16px -16px 16px;
    padding: 8px;
    background-color:brown;
    color: white;

}

.container ul {
    background-color: wheat;
    margin: -16px;
    padding: 32px;
}

.container.recipe{
    box-sizing: border-box;
    width: 600px;
}

#goback {
    width: 600px;
    display: block;
    margin: 40px auto -70px;
    background-color: white;
    box-sizing: border-box;
}
#goback a {
    display: block;
    background-color:cadetblue;
    width: 40px;
    padding: 8px;
    color: white;
}