body {
    font-family: 'Courier New', Courier, monospace;
    background-color: wheat;
}

a {
    color: blue
}

h1 {
    text-align: center;
}

p { /* Higher priority font */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

strong {
    color: rgb(255, 128, 0);
}

#preview {
    width: 400px;
    height: auto;
    align-items: center;
}